
header {
    color: blue;
    font-family: Arial;
    text-align: center;
    font-size: 90px;
    background-color: orange;
    padding: False;
    height: False;
    width: False;
    line-break: False;
    line-height: False;
    border: False;
    margin: False;
}
body {
    background-color: green;
    background-image: False;
    opacity: 0.8;
    background-size: cover;
    background-attachment: fixed;
    background-position: False;
    background-repeat: False;
}
p {
    color: red;
    font-family: Arial;
    font-weight: False;
    text-align: False;
    font-size: False;
    background-color: orange;
    background: False;
    margin-top: False;
    margin-bottom: False;
    margin-left: False;
    margin-right: False;
    border: False;
    display: block;
    padding: False;
    height: False;
    width: False;
    line-break: False;
    line-height: 25px;
    overflow: False;
    margin: False;
    box-shadow: False;
}